@import url("https://fonts.googleapis.com/css2?family=Montserrat");
@import url("https://fonts.googleapis.com/css2?family=Fraunces");

.main-container {
  max-width: 600px;
  max-height: 450px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hsl(0, 0%, 100%);
  overflow: hidden;
  border-radius: 8px;
}

.card {
  display: flex;
  align-items: flex-start;
  width: 100%;
  background-color: hsl(0, 0%, 100%);
}

@media (max-width: 575px) {
  .main-container {
    max-width: 240px;
    max-height: none;
    overflow: hidden;
  }
  .card {
    flex-direction: column;
    align-items: center;
    width: 240px;
  }
  picture {
    width: 240px;
    height: 343px;
    overflow: hidden;
  }
  picture img {
    width: 240px;
    height: 343px;
    object-fit: cover;
    object-position: center;
  }
}

body {
  background-color: hsl(30, 38%, 92%);
}

picture img {
  max-height: 450px;
  height: 100%;
  display: block;
}

img {
  max-height: 450px;
}

.description-container {
  padding: 32px;
  flex: 1; /* Let it shrink as needed */
  min-width: 0;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0px;
  line-height: 32px;
  text-align: left;
  max-width: 170px;
}

.h1-primary {
  color: hsl(212, 21%, 14%);
  margin-bottom: 24px;
}

h2 {
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
  letter-spacing: 5px;
  line-height: auto;
  font-size: 12px;
}

.main-body {
  font-family: "Montserrat", sans-serif;
  line-height: 23px;
  font-size: 14px;
  font-weight: 700;
  color: hsl(228, 12%, 48%);
  margin-bottom: 30px;
  max-height: 92px;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 1200px) {
  .main-body {
    font-size: 12px;
    line-height: 18px;
  }
}

.pricing {
  display: flex;
  gap: 19px;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}

.current-price {
  font-family: "Fraunces", sans-serif;
  font-weight: bolder;
  color: hsl(158, 36%, 37%);
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0px;
}

.original-price {
  font-family: "Montserrat", sans-serif;
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
  font-size: 14px;
  font-weight: 500;
  line-height: 23px;
}

.add-to-cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background-color: hsl(158, 36%, 37%);
  min-height: 48px;
  border-radius: 8px;
}

.add-to-cart-text {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  line-height: auto;
  font-size: 12px;
  letter-spacing: 1px;
  color: hsl(0, 0%, 100%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
